
/* font-family: 'Comforter', cursive;
font-family: 'Oswald', sans-serif; */

/* color palette: Adrift and Adrift in Neon, color lovers */

/* Basic resets */
:root {
    --hue: #F0FB64;
    --lime: #ADF841 ;
    --green: #05FA82 ;
    --seafoam: #33FCDB ;
    --cyan: #0AF0EA ;
  }

  *, a,  *::before, *::after {
    /* box-sizing: border-box; */
    text-decoration: none;
  }

  a:visited {
    color: inherit;
  }

/* Main body styling */

body {
    background-image: linear-gradient(to top, #9ca58f, #bce79e, #aade9d, #9ad49d, #8bca9c, #72bd9b, #5baf99, #46a196, #218b91, #007588, #005e7c, #0b486b);
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    width: 100vw;
    justify-content: center;  
}

.logo {
  font-family: 'Comforter', cursive;
  color: white;
}

#logo-bg {
  font-size: 500%;
}

/* index styling */
.container1 {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 15vh;
}

.container2 {
  width: 75%;
  /* max-width: 75%; */
  text-align: center;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px 2px #0b486b;
  margin: 20px auto;
}

#container3 {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
}


/* Quiz page styling  */

.quiz-body {
  height: 100vh;
}

.quiz-container {
  width: 75%;
  /* max-width: 75%; */
  text-align: center;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px 2px #0b486b;
  margin: 20px auto;
}

.button1 {
  border-radius: 5px;
  border: 3px solid #0b486b;
  padding: 5px 10px;
  background-color: #0b486b;
  color: white;
  width: 75%;
  margin: 1rem auto;
}

.button1:hover {
  border: 3px solid black;
}

.button-grid {
  grid-template-columns: repeat(2, auto);
  gap: 15px;
  margin: 20px auto;
}

.correct {
  background-color: #9ad49d;
  color: black;
}

.incorrect {
  background-color: rgb(255, 49, 117);
  color: black;
}
/* heads up display styling */
#hud {
  display: flex;
  justify-content: space-evenly;
}

.hud-prefix {
  text-align: center;
  
}

/* form styling */

form {
  width:;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-bottom: 1rem;
  width: 75%;
  padding: 1.5rem;
  font-size: ;
}

.endButtons {
  width: 75%;
  margin: 1rem auto;
}

/* Button styling */

/* .button-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 15px;
  margin: 20px 20px;
}

.button1 {
  border-radius: 5px;
  border: 3px solid #0b486b;
  padding: 5px 10px;
  background-color: #0b486b;
  color: white;
}

.button1:hover {
  border: 3px solid black;
}

.button-correct {
  background-color: #9ad49d;
  color: black;
}

.button-wrong {
  background-color: rgb(255, 49, 117);
  color: black;
}

.start-button, .next-button {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 5px 10px;
} */



.hide {
  display: none;
}


/* Footer and social links  */

.footer {
  height: auto;
  background-color: #ffffff00;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  
}

.footer ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.footer ul>li {
  display: inline;
}

.footer i {
  font-size: 3rem;
  padding: 5%;
  color: #0b486b;
}

/* Footer and social links  */

/* Media queeries */

@media only screen and (min-width: 768px) {
  /* For desktop: */
  #container3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
}